* {
    font-family: "Inter";
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    overflow-y: hidden;
    background: rgb(103, 106, 109);
}

.logo {
    padding-top: 40px;
    margin-left: 40px;
    width: 10%;
}

main {
    display:flex;
    margin-bottom: 10px;
    margin-left: 180px;   
}

.textoCifrado {
    height: 400px;
    border: none;
    color:#0A3871;
    margin-top: 30px;
    padding: 2px;
    text-transform: lowercase;
}

.mensaje {
    height: 630px;
    background: blue;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 3px;
}

.mensaje:focus {
    outline: none;
}

.contenedorBotones{
    display: flex;
    margin-top: 18px;
}

.botonEncriptar, .botonDesencriptar, .copiar {
    background-color: rgb(0, 174, 255);
    border: 1px solid rgb(0, 174, 255);
    border-radius: 30px;
    color: white;
    cursor: pointer;
    height: 100px;
    width: 200px;
}